/*
MENUS
*/
.menus
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 70px;
	background: black;
	position: fixed;
	top: 0;
	z-index: 999;
}
.menus .menus-logo
{
	color: white;
	font-family: 'PT Serif', serif;
	float: left;
	margin-left: 30px;
}
.menus .menu
{
	float: right;
	margin-right: 30px;
}
.menus .menu a
{
	margin-right: 15px;
	color: white;
}

.menus .menu a:hover
{
	color: #27ae60;
}

/*
MENUS
*/
/*
FOND
*/
.fond .fond-image
{
	position: relative;
}
.fond .fond-content
{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 7%;
}
.fond .fond-content2
{
	position: absolute;
	width: 50%;
	text-align: center;
	top: 20%;
	margin-left: 60px;
}
.fond .fond-content h1,
.fond .fond-content h2
{
	color: black;
}
.fond .fond-content2 h1
{
	color: black;
}
.fond .fond-content2 .champs label
{
	color: black;
	float: left;

}
/*
FOND
*/
/*
ABOUT
*/
.about .about-single-element .icon
{
	font-size: 60px;
	text-align: center;
}
.about .about-single-element
{
	text-align: center;
}
.about .about-single-element p
{
	text-align: left;
	margin-top: 30px;
}
/*
ABOUT
*/
/*
EVENEMENT
*/
.tab-evenement
{
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	width: 100%;
	top: 20%;
}
.button-centre
{
	text-align: center;
}
/*
EVENEMENT
*/